FlowNode {
    width: 300px;
}

FlowNode #MainContainer {
    margin: 5px 10px;
}

FlowNode #parameters {
    background-color: rgba(63, 63, 63, 0.8);
}

FlowNode #parameters #items {
    padding: 5px;
}

FlowNode #parameters #items > #divider {
    margin: 5px 0;
}

FlowNode #parameters #items > VisualElement .unity-label {
    min-width: 150px;
    max-width: 150px;
}

.unity-label {
    min-width: 100px;
}